#wm-body {
    background-color: #F8F8F8;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    position: relative;
}

#wm-body article {
    width: 100%;
    display: block;
}

/*HEADER*/
#wm-main {
    background-color: white;
    box-shadow: 0 0 5px gray;
    padding: 10px 25px;
}

#wm-body h1 {
    color: white;
    padding: 10px;
    font-size: 14px;
    padding: 15px;
}

/*SEARCH + BUTTON*/
#wm-controls {
    padding:  20px 20px 10px;
    background-color:  rgb(23, 104, 131);
    background: rgb(23,104,131);
    background: -moz-linear-gradient(-45deg,  rgba(23,104,131,1) 0%, rgba(47,158,189,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(23,104,131,1) 0%,rgba(47,158,189,1) 100%);
    background: linear-gradient(135deg,  rgba(23,104,131,1) 0%,rgba(47,158,189,1) 100%);
}

#wm-controls div {
    width: 100%;
    margin: auto;
    margin: 5px;
}

#wm-controls label {
    display: inline-block;
    font-size: .85rem;
    font-weight: bold;
    margin-bottom: 3px;
    color: #E3E7ED;
    font-variant: small-caps;
    letter-spacing: .3px;
}

#wm-error {
    display: inline-block;
    color: lightpink;
}

#wm-controls input {
    padding: 7px 5px;
    width: 79%;
    border: none;
    margin-top: 5px;
    display: block;
}

#wm-btn {
    display: inline-block;
    border: none;
    background: white;
    color: #136782;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 -2px 0 #ececec inset, 0 -3px 0 #e0e0e0 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-weight: 500;
    font-size: .75rem;
    padding: 5px 20px;
    text-align: center;
    margin: 10px 0 5px;
}

#wm-btn:active {
    box-shadow: none;
    border: 1px solid lightgray;
}

/*INFO*/
#wm-user-info {
    background-repeat: no-repeat;
    background-position: 6% 4%;
    background-color: #F8F8F8;
    position: absolute;
    top: -300px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#wm-user-info .fa-check  {
    color: green;
}

#wm-user-info .fa-undo {
    font-size: 1.5rem;
    position: absolute;
    padding: 10px;
}

#wm-user-info i.fa-undo:hover {
    color: rgb(23,104,131);
}


#wm-user-info h3 {
    text-align: center;
    margin-top: 0;
}

#wm-user-info #wm-logo {
    height: 40px;
    margin: 0 auto;
}

#wm-user-info #name {
    min-height: 10px;
    padding: 20px 5px 0px;
    text-align: center;
    width: 100%;
}

#wm-user-info a {
    color: #1a6883;
}

#wm-user-info #wm-data {
    margin: 0px 0px 15px 25px;
}

#wm-user-info #wm-data dl {
    margin-bottom: 0;
}

#wm-user-info #wm-data dt {
    float: left;
    padding-bottom: 5px;
    clear: left;
    color: black;
    width: 40%;
    text-align: right;
}

#wm-user-info #wm-data dd {
    float: left;
    padding-bottom: 5px;
    text-align: left;
    width: 30%;
    position: relative;
    left: -10%;
}

#wm-user-info .bool {}
